<p id="notice"><%= notice %></p>

<h1>
  <%= @recette.titre %>
</h1>

<p>
  <b>Description:</b>
  <%= @recette.description %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @recette.ingredients %>
</p>

<p>
  <b>Preparation:</b>
  <%= @recette.preparation %>
</p>

<p>
  <b>User:</b>
  <%= @recette.user.name %>
</p>
<% if current_user.nil? %>
  <%= link_to 'Back', root_path %>
<% else %>
  <% if affichage_bouttons? %>
    <%= link_to 'Edit', edit_recette_path(@recette) %> |
    <%= link_to 'Destroy', @recette, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', root_path %>
<% end %>
